@import '../../src/styles/fontSizes.scss';
@import '../../src/styles/colors.scss';
@import '../../src/styles/breakpoints.scss';

.container {
  padding: 80px 80px 200px 80px;

  .header {
    text-transform: uppercase;
    white-space: pre;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: pre-wrap;

    h1 {
      margin-bottom: 44px;
      white-space: pre-line;
      overflow-wrap: anywhere;
      hyphens: auto;
    }
    
    @media (max-width: $medium) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h1 {
        margin-bottom: 24px;
      }
      padding-bottom: 40px;
    }
  }
}

.cover_image {
  position: relative;
  width: 100%;
  height: 300px;
}

.details_container {
  padding: 80px 80px 200px 80px;
  display: flex;
  flex-direction: column;

  .date {
    font-size: $l;
    font-family: 'iAWriterQuattroS';
    font-weight: 900;
    color: $uat_dark;
    padding-bottom: 16px;
  }

  .title {
    text-transform: uppercase;
    white-space: pre-wrap;
    color: $uat_dark;
    .header {
      margin: 0;
      margin-left: -3px;
      line-height: 1.1;
    }
  }

  .content {
    font-size: $xl;
    color: $uat_dark;
  }
  .rich_text {
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 104px;
  }
  .player {
    padding-bottom: 104px;
  }
  .gallery {
    padding-bottom: 104px;
  }
  .navigation {
    margin-top: -80px;
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }

  .teachers {
    padding-bottom: 240px;
    margin: 0 -80px;

    @media (max-width: $large) {
      margin: 0 -22px 0 -40px;
    }

    @media (max-width: $small) {
      margin: 0 -22px 0 -20px;
    }
  }

  @media (max-width: $large) {
    padding: 40px 40px 120px;
  }

  @media (max-width: $small) {
    padding: 40px 20px 120px;

    flex-direction: column;

    & > div {
      flex: 1;
    }

    .title .header {
      font-size: 48px;
    }

    .rich_text table td {
      display: block;
    }
  }
}