@import '../../../styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner_container {
    max-width: 1920px;
    width: 100%;
  }
  .inner_container_high {
    z-index: 1000;
  }
  .inner_container_highest {
    z-index: 1001;
  }
}

.container_black {
  background-color: $uat_dark;
  color: $uat_light;
}

.container_orange {
  background-color: $uat_orange;
  color: $uat_dark;
}

.container_white {
  background-color: $uat_light;
  color: $uat_dark;
}

.container_transparent {
  background-color: rgba(0,0,0,0);
}