@import '../../../styles/colors.scss';
@import '../../../styles/fontSizes.scss';

.container {
  width: 100%;

  .content {
    a {
      color: $uat_orange;
    }

    img {
      display: initial;
      max-width: 100%;
      margin-left: 4px;
    }

    figure {
      margin: 30px 0;

      table {
        width: 100%;
      }
    }
  }
}