@import '../../src/styles/breakpoints.scss';
@import '../../src/styles/colors.scss';
@import '../../src/styles/fontSizes.scss';

.container {
  padding-bottom: 200px;
  .inner_black_container {
    padding-bottom: 140px;
    padding-top: 120px;

    @media (max-width: $medium)  {
      padding-top: 0;
      padding-bottom: 100px;
    }
  }
  .inner_white_container {
    padding-top: 40px;
  }

  .inner_application_container {
    margin-top: 120px;
    margin-bottom: 177px;
  }

  .inner_container {
    padding-left: 80px;
    padding-right: 80px;

    .top_container {
      display: flex;
      gap: 40px;

      .video_container {
        padding-bottom: 120px;
        flex: 1;

        @media (max-width: $medium)  {
          padding-bottom: 20px;
        }
        
      }
      .description_container {
        width: 50%;
        color: $uat_light;
        font-size: $l;
        font-weight: 400;
        line-height: 27px;
        flex: 1;

        @media (max-width: $medium)  {
          width: 100%;
        }
      }
    }
    
    .statistics_container {
      padding-bottom: 120px;
    }

    .applications_container {
      padding-bottom: 37px;
    }

    @media (max-width: $large)  {
      padding-left: 40px;
      padding-right: 40px;
    }
  
    @media (max-width: $medium)  {
      padding-left: 20px;
      padding-right: 20px;
      .top_container {
        flex-direction: column;

        .video_container {
          width: 100%;
        }
      }
    }
  }
}

.buttons {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}