@import '../../../styles/colors.scss';
@import '../../../styles/fontSizes.scss';
@import '../../../styles/breakpoints.scss';

.container {
  background-color: $uat_dark;
  color: white;
  height: 98px;
  width: 100%;
  z-index: 1000;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 82px;
    
    @media (max-width: $medium)  {
      padding: 40px;
    }

    .left_container {
      color: $uat_light;
      font-size: $s_header;
      font-family: 'iAWriterQuattroS';
      font-weight: 900;
      letter-spacing: 0.08rem;
      height: fit-content;
      cursor: pointer;
    }
    .items {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%; 
    }
    .right_container {
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .divider {
        width: 30px;
      }

      .menu_button {
        color: $uat_light;
        font-size: $l;
        font-weight: 600;
        font-family: 'iAWriterQuattroS';
        font-style: italic;
        border: 2px solid $uat_light;
        padding: 12px 20px;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          padding-right: 12px;
        }
      }
    }
  }
  .menu {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 10000;
  }
}

.hamburger_container {
  color: white;
}
