//main colors
$uat_orange: #FF7A00;
$uat_green: #69E2BE;
$uat_yellow: #FFB800;
$uat_dark: #000000;
$uat_light: #FFFFFF;

//gray-scale
$gray: #636363;
$transparent-black: #0000000F;
$transparent-white: #FFFFFFAA;

//header
$sunshade: #FF902A;

//modal
$modal-shadow: #00000020;
