@import '../../../styles/colors.scss';
@import '../../../styles/fontSizes.scss';
@import '../../../styles/breakpoints.scss';

.container {
  // background-color: $uat_orange;
  width: 100%;
  // height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $uat_dark;
  background-color: $uat_orange;
  padding: 12px 80px;

  .wave {
    position: absolute;
    z-index: 0;
    top: -20px;
    left: 0;
    right: 0;
    background-image: url("../../../public/icons/common/Wave.svg");
    height: 70px;
  }

  .links {
    z-index: 1;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .single_link {
      max-width: 45%;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding-right: 24px;
      
      span {
        padding-right: 8px;
        font-size: $m;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        text-transform: uppercase;
      }

      &:hover span {
        text-decoration: underline;
        text-decoration-style: solid;
      }

      div {
        min-width: 20px;
      }
    }
  }

  @media (max-width: $medium)  {
    // background-image: url("../../../public/icons/common/Wave-tall.svg");
    height: auto;
    padding: 0;

    & > div:nth-child(2) {
      display: none;
    }

    .wave {
      top: -28px;
    }

    .links {
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;

      .single_link {
        padding: 12px 40px;
        max-width: 100%;
        border-bottom: 2px solid $uat_dark;
        justify-content: space-between;

        &:last-of-type {
          border: none;
        }

        span {
          font-size: $l;
        }

        div {
          // display: none !important;
        }
      }
    }
  }
  @media (max-width: $small)  {
    .links .single_link {
      padding: 12px 20px;
    }
  }
}