@import '../../../styles/colors.scss';

.year_switcher_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
  .button {
    padding: 0 12px;
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    display: flex;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .title {
      font-family: 'iAWriterQuattroS';
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      z-index: 1;
    }

    .indicator {
      position: absolute;
      background-color: $uat_green;
      height: 14px;
      bottom: -6px;
      left: 0;
      right: 0;
      z-index: 0;
    }

    .indicator_white {
      background-color: $uat_light;
    }
  }
}