@import '../../../styles/breakpoints.scss';

.container {
  display: flex;
  flex-direction: row;
}
.single_link_container {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}

@media (max-width: $medium)  {
  .container {
    flex-direction: column;

    .single_link_container {
        padding: 0;
        margin: 0.2rem 0;
    }
  }
}