@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/fontSizes.scss';
@import '../../../../../../styles/breakpoints.scss';

.container {
  color: $uat_dark;
  display: flex;
  flex-direction: row;

  @media (max-width: $medium)  {
    flex-direction: column;
  }

  .festivals {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding: 16px 40px;

    @media (max-width: $xlarge)  {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      width: 100%;
      gap: 20px;
    }
    @media (max-width: $medium)  {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      padding: 0;
      gap: 0;
    }
  }
}