@import '../src/styles/breakpoints.scss';
@import '../src/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 98px);
  padding: 0 80px 80px;

  .logo {
    width: 240px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $large)  {
    padding: 0 40px;
  }

  @media (max-width: $medium) {
    flex-direction: column;
  }

  @media (max-width: $small)  {    
    padding: 0 20px;

    h2 {
      text-align: center;
    }
  }
}