@import '../styles/breakpoints.scss';

.container {

  .video {
    margin-bottom: 80px;
    padding: 80px;

    @media (max-width: $large)  {
      padding: 40px;
      
    }
    @media (max-width: $small)  {
      padding: 40px 20px;
    }
  }

  .first_text {
    margin-top: -80px;
  }

  .fields {
    padding: 0 80px;
    z-index: 100000;
    margin-bottom:  0px;

    @media (max-width: $large)  {
      padding: 0 40px;
    }

    @media (max-width: $medium)  {
      padding: 0 20px;
    }

    @media (max-width: $medium)  {
      display: flex;
      justify-content: center;
    }
  }
}
