@import '../../../../../styles/colors.scss';
@import '../../../../../styles/fontSizes.scss';
@import '../../../../../styles/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 130px;
  position: relative;

  border: 2px solid $uat_dark;

  cursor: pointer;
  transition: 200ms background-color linear;

  &:hover {
    background-color: $uat-dark;

    .title {
      color: $uat_orange;
    }

    .sneak_peak {
      color: $uat_orange;
    }
  }

  .image_container {
    width: 100%;
    height: 380px;
    position: relative;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 24px;
    align-items: flex-start;
  }

  .date {
    color: $uat_dark;
    font-weight: 900;
    font-size: $m;
    font-family: 'iAWriterQuattroS';
    text-transform: uppercase;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    padding: 8px 0;
  }

  .title {
    color: $uat_dark;
    font-weight: 900;
    font-size: $xl;
    font-family: 'iAWriterQuattroS';
    text-transform: uppercase;
    // padding-bottom: 16px;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }

  .arrow {
    left: 24px;
    bottom: 24px;
    position: absolute;
  }
}