@import '../../../styles/breakpoints.scss';

.container {
  position: relative;
  padding: 10px 80px 220px;

  h1 {
    margin-top: 0;
    line-height: 1.1;
    padding-top: 82px;
  }

  @media (max-width: $large) {
    padding: 10px 40px 160px;
  }

  @media (max-width: $small) {
    padding: 10px 20px 160px;

    h1  {
      font-size: 48px;
    }
  }
}